<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EventManager.js</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    
    <img src="images/eventManagerLogo.png" alt="logo" class="logo">
  
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="event">Event</a></li>
        <li><a href="eventVenue">Event Venue</a></li>
        <li><a href="eventOrganizer">Event Organizer</a></li>
        <li><a href="customer">Customer</a></li>
      </ul>
    </nav>

  </div>

  {{{body}}}

</body>

</html>
