<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EventManager.js</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>
