<style>

body{
  background-image: url('images/concertBackground.jpg');
  margin: 0px;
  padding: 0px;
  text-align:center;
  width: 100%;
} 
  
  input[type=text], input[type=password]{
  width:20%;
  padding:7px 10px;
  margin: 10px 0;
  display:inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}
     
  button {
  background-color: black;
  width: 10%;
  padding: 9px 5px;
  margin:10px 0px 0px 35px;
  cursor:pointer;
  border:none;
  color:#ffffff;
  font-size: 15px;
  font-weight: bold;
}
     
  button:hover {
  opacity:0.8;
}
     

  #un,#ps {
  font-family:'Lato', sans-serif;
  color: black;
}
 
  #container{
  position: absolute;
  top: 0;
  bottom: 290px;
  left: 0;
  right: 0;
  margin: auto;
  width:600;
  height: 300px;
  text-align: center;
}
 
</style>

<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="account">Existing User Log-in</a>
    <a href="signUpNewAccount">Create a New Account</a>

  </div>

<div id="container">
  <form action="logIn" method="post" id="flogin">
 
    <div class="border-box">
      <h2>Login to your Account</h2>
      <label for="uname" id="un">Username:</label>
        <input type="text" name="user" placeholder="Enter Username" id="uname"><br/>
 
      <label for="upass" id="ps">Password:</label>
        <input type="password" name="pass" placeholder="Enter Password" id="upass"><br/>
 
      <button type="submitBtn" value="logIn"  id="submit">Login</button>
    
      <a href="signUpNewAccount">Sign-Up</a>
</div>
 
</form>
</div>
</body>

<script>
  document.getElemetById("submitBtn").addEventListener("click", function(button)
  {
    document.getElementById("submit").innerHTML = "submits the form"
  });

</script>
