<style>
h4, li {
  margin-left: 680px;
}

</style>

<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="viewPurchase">View Purchase History</a>
  </div>

</body>

<h4>To add:</h4>
  <li>logOut button/functionality?</li>
  <li>Account Information?</li>
