<style>

table {
  font-family: arial, sans-serif;
  width: 60%;
  margin-left: 600px;
  margin-bottom: 30px;
}

h2 {
  margin-left: 950px;
}

h4, li {
  margin-left: 600px;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;

</style>

<!-- Side navigation -->
<div class="sidenav">
  <a href="eventScheduling">View Events</a>
  <a href="createNewEvent">Create a New Event</a>
  <a href="signUpNewEvent">Sign-Up for New Event</a>
</div>

<h2>Sign-Up for New Events</h2>

<table>
  <tr>
    <th>Event Name</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Ticket Price</th>
    <th>Avilability</th>

  </tr>
  <tr>
    <td>Event 1</td>
    <td>3/4/2021</td>
    <td>7:00 pm</td>
    <td>9:00 pm</td>
    <td>$40.00</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Event 2</td>
    <td>9/1/2021</td>
    <td>8:00 pm</td>
    <td>10:00 pm</td>
    <td>$25.00</td>
    <td>No</td>  </tr>
  <tr>
    <td>Event 3</td>
    <td>6/23/2021</td>
    <td>7:00 pm</td>
    <td>9:00 pm</td>
    <td>$5.00</td>
    <td>Yes</td>
  </tr>
</table>

<button id="button1" style=" margin-left: 1000px;">Update</button>
<div id="updateButton" style=" margin-left: 900px;"> </div>

<button id="button2" style=" margin-left: 1000px;">Remove</button>
<div id="removeButton"style=" margin-left: 900px;"> </div>

<script>
  document.getElementById("button1").addEventListener("click", function(button)
  {
    document.getElementById("updateButton").innerHTML = "Will allow users to update the table"
  });

  document.getElementById("button2").addEventListener("click", function(button)
  {
    document.getElementById("removeButton").innerHTML = "Will allow users to remove the table"
  });

</script>

