<style>
    .purchase{
        align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Purchase Tickets</h2>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                     </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Stand Up Comedy by Dr. Comedy</td>
                        <td>The Blues Square</td>
                        <td>10/16/2020</td>
                        <td>$10</td>
                        <td><button type="button" id="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                    <tr>
                        <td scope="row">The Bananas</td>
                        <td>The Rock Tavern</td>
                        <td>8/4/2020</td>
                        <td>12/31/2020</td>
                        <td><button type="button" id="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                    <tr>
                        <td scope="row">The Rock and Roll Guys</td>
                        <td>Bare Hall</td>
                        <td>12/31/2020</td>
                        <td>$40</td>
                        <td><button type="button" id="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs">
        </div>
    </div>
    <div class="row">
        <div class="col-xs">

        </div>
        <div class="col-xs">
        </div>
        <div class="col-xs">
        </div>
    </div>
</div>

<button id="search" style="  width: 320px;  height: 45px; border: none; background: black;  color: white;  margin-left: 650px;  margin-bottom: 30px;">Search</button>

<div id="searchButton" style=" margin-left: 650px;"> </div>

<div id="purchaseButton" style=" margin-left: 1000px; margin-bottom: 350px;"> </div>

<script>
  document.getElementById("search").addEventListener("click", function(button)
  {
    document.getElementById("searchButton").innerHTML = "Will search events from the table"
  });

  document.getElementById("btn btn-primary purchase").addEventListener("click", function(button)
  {
    document.getElementById("purchaseButton").innerHTML = "Will purchase events from the table posted to purchase history"
  });

</script>





