<style>
    .purchase{
        align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Purchase Tickets</h2>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-xs">
        </div>
        <div class="col-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                     </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Stand Up Comedy by Dr. Comedy</td>
                        <td>The Blues Square</td>
                        <td>10/16/2020</td>
                        <td>$10</td>
                        <td><button type="button" class="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                    <tr>
                        <td scope="row">The Bananas</td>
                        <td>The Rock Tavern</td>
                        <td>8/4/2020</td>
                        <td>12/31/2020</td>
                        <td><button type="button" class="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                    <tr>
                        <td scope="row">The Rock and Roll Guys</td>
                        <td>Bare Hall</td>
                        <td>12/31/2020</td>
                        <td>$40</td>
                        <td><button type="button" class="btn btn-primary purchase">Purchase</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs">
        </div>
    </div>
    <div class="row">
        <div class="col-xs">

        </div>
        <div class="col-xs">
            <h4>To be added:</h4>
                <li>Search - being able to search for events by specific parameters</li>
        </div>
        <div class="col-xs">

        </div>
    </div>
</div>


