<style>
table {
  font-family: arial, sans-serif;
  width: 60%;
  margin-left: 600px;
  margin-bottom: 30px;
}

h2 {
  margin-left: 950px;
}

h4, li {
  margin-left: 600px;
}


td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>

<!-- Side navigation -->
<div class="sidenav">
  <a href="account">Existing User Log-in</a>
  <a href="signUpNewAccount">Create a New Account</a>
  <a href="viewAccount">View Account</a>
</div>


<h2>Account List</h2>

<table>
  <tr>
    <th>Customer ID</th>
    <th>E-mail</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Phone</th>

  </tr>
  <tr>
    <td>1</td>
    <td>patrick.shim@email.com</td>
    <td>Patrick</td>
    <td>Shim</td>
    <td>01/01/1100</td>
    <td>123-456-7890</td>
  </tr>
  <tr>
    <td>2</td>
    <td>kiwon.nam@email.com</td>
    <td>Kiwon</td>
    <td>Nam</td>
    <td>01/02/1100</td>
    <td>123-456-7890</td>
  </tr>
  <tr>
    <td>3</td>
    <td>joe.member@email.com/td>
    <td>Joe</td>
    <td>Member</td>
    <td>01/03/1200</td>
    <td>123-456-7893</td>
  </tr>
</table>


<button id="search" style="  width: 320px;  height: 45px; border: none; background: black;  color: white;  margin-left: 900px;  margin-bottom: 30px;">Search</button>

<div id="searchButton" style=" margin-left: 900px;"> </div>

<script>
  document.getElementById("search").addEventListener("click", function(button)
  {
    document.getElementById("searchButton").innerHTML = "Will search members from the table"
  });

</script>

