<style>
table {
  font-family: arial, sans-serif;
  width: 60%;
  margin-left: 600px;
  margin-bottom: 30px;
}

h2 {
  margin-left: 950px;
}

h4, li {
  margin-left: 600px;
}


td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type="button"] {
  width: 320px;
  height: 45px;
  border: none;
  background: black;
  color: white;
  margin-left: 900px;	
  margin-bottom: 30px;
}

</style>

<!-- Side navigation -->
<div class="sidenav">
  <a href="vipMembership">Become a VIP Member</a>
  <a href="viewVIPMembers">View VIP Members</a>  
</div>

<h2>VIP Member List</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
  </tr>
  <tr>
    <td>Patrick</td>
    <td>Shim</td>
    <td>patrick.shim@email.com</td>
  </tr>
  <tr>
    <td>Kiwon</td>
    <td>Nam</td>
    <td>kiwon.nam@email.com</td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>Importnat</td>
    <td>joe.important@email.com/td>
  </tr>
</table>

<input type="button" value="Search">

<h4>To be added:</h4>
  <li>Search function/button</li>
  <li>Delete function/button?</li>
  <li>Select function/button?</li>
