<style>
table {
  font-family: arial, sans-serif;
  width: 60%;
  margin-left: 600px;
  margin-bottom: 30px;
}

h2 {
  margin-left: 950px;
}

h4, li {
  margin-left: 600px;
}


td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>

<!-- Side navigation -->
<div class="sidenav">
  <a href="vipMembership">Become a VIP Member</a>
  <a href="viewVIPMembers">View VIP Members</a>  
</div>

<h2>VIP Member List</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
  </tr>
  <tr>
    <td>Patrick</td>
    <td>Shim</td>
    <td>patrick.shim@email.com</td>
  </tr>
  <tr>
    <td>Kiwon</td>
    <td>Nam</td>
    <td>kiwon.nam@email.com</td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>Importnat</td>
    <td>joe.important@email.com/td>
  </tr>
</table>



<button id="search" style="  width: 320px;  height: 45px; border: none; background: black;  color: white;  margin-left: 900px;  margin-bottom: 30px;">Search</button>

<div id="searchButton" style=" margin-left: 900px;"> </div>

<script>
  document.getElementById("search").addEventListener("click", function(button)
  {
    document.getElementById("searchButton").innerHTML = "Will search events from the table"
  });

</script>
