<style>
h4, li {
  margin-left: 680px;
}

body{
  background-image: url('images/vipBackground.jpg');
}
</style>

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>VIP Membership</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-xs"></div>
        <div class="col-lg">
            <h2>VIP MEMBER LIST</h2>
        </div>
        <div class="col-xs">
        </div>
    </div>
    <div class="row">
      <div class="col-xs"></div>
      <div class="col-lg">
          <table class="table table-striped">
              <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Venue</th>
                  </tr>
                </thead>
                <tbody>
                {{#each vipMembers}}
                  <tr>
                    <td scope="row">{{fName}}</td>
                    <td>{{lName}}</td>
                    <td>{{venue}}</td>
                    <!--
                    <td><button type="button" id="btn btn-primary purchase">Purchase</button></td>-->
                  </tr>
                  {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-xs"></div>
    </div>

    <div class="row">
        <div class="col-xs"></div>
        <div class="col-lg" >
            <h2 class="event-venue-header">BECOME A NEW VIP MEMBER OF YOUR FAVORITE EVENT VENUE!</h2>
        </div>
        <div class="col-xs"></div>
    </div>

    <form id="add-vip-member" action="/vipMembership" method="POST">
        <div class="row">
            <label for="customerID">Customer ID</label>
            <input type="text" class="form-control" name="customerID" placeholder="Customer ID">
            <label for="venueID">VENUE ID</label>
            <input type="text" class="form-control" name="venueID" placeholder="VENUE ID">
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Become VIP Memeber</button>
            </div>
        </div>
    </form>
</div>
   
</body>






