<style>

body{
 // background-image: url('images/vipBackground.jpg');
}

</style>

<h1>Become a VIP Member</h1>

<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
  </thead>
  <tbody>
    {{#each vip}}
    <tr>
       <td>{{firstName}}</td>
       <td>{{lastName}}</td>
       <td>{{email}}</td>
    </tr>
    {{/each}}
  </tbody>

  <form id="addVipMember" action="/vipMembership" method="post">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="email" placeholder="E-mail">
    <input type="submit" value="Submit">
  </form>
</table>

<script>

  document.getElementById("register").addEventListener("click", function(button)
  {
    document.getElementById("registerButton").innerHTML = "Will allow users to register and posted to vip Members table"
  });

</script>
   






